.title-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stars {
  padding: 5px;
}

.cart-container {
  display: flex;
  justify-content: center;
  padding: 50px;
  flex-wrap: wrap;
  padding: 5px;
  overflow-y: scroll;
  height: 400px;
  margin-right: 50px;
}

.containerDetails {
  display: flex;
  justify-content: center;
}

.carte {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 300px;
  padding: 10px;
  margin: 20px;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(209, 173, 56, 0.2);
  border: 10px solid rgb(209, 173, 56, 0.7);
  border-radius: 10px;
  text-align: center;
  transition: background-color 1s ease 0s;
}

.carte:hover {
  transform: scale(103%);
  background-color: rgba(209, 173, 56, 0.6);
}

.carteDetails {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 10px;
  margin: 20px;
  align-items: center;
  background-color: rgba(209, 173, 56, 0.3);
  border: 10px solid rgb(209, 173, 56, 0.7);
  border-radius: 10px;
  text-align: center;
}

.carteInCart {
  display: flex;
  padding: 10px;
  margin: 20px;
  justify-content: space-around;
  background-color: rgba(209, 173, 56, 0.3);
  border: 10px solid rgb(209, 173, 56, 0.7);
  border-radius: 10px;
  text-align: center;
}

.image {
  width: auto;
  height: 100px;
}

.notInCartBtn {
  border: none;
  border-radius: 16px;
  padding: 0;
  margin: 0;
  background-color: rgba(74, 202, 245, 0.5);
  padding: 10px;
  margin-right: 10px;
}

.notInCartBtn:hover {
  background-color: rgba(50, 136, 165, 0.719);
}


.inCartBtn {
  display: none;
}

