

.title-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stars {
  padding: 5px;
}

.cart-container {
  display: flex;
  justify-content: center;
  padding: 50px;
  flex-wrap: wrap;
  padding: 5px;
  background-color: #f6eee1;
  overflow-y: scroll;
  height: 100vh;
  margin-right: 50px;
}

.cart-container::-webkit-scrollbar {
  -webkit-box-shadow: inset 0 0 6px #CACAAB;
  border-radius: 10px;
  width: 15px;
  height: 30;
}
.cart-container::-webkit-scrollbar-thumb {
  background: #f5a96e;
  border-radius: 20px;
}

.containerDetails {
  display: flex;
  justify-content: center;
}

.carte {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  padding: 10px;
  margin: 20px;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(209, 173, 56, 0.2);
  border: 10px solid rgb(209, 173, 56, 0.7);
  border-radius: 10px;
  text-align: center;
  transition: background-color 1s ease 0s;
}

.carte:hover {
  transform: scale(103%);
  background-color: rgba(209, 173, 56, 0.6);
}

.carteDetails {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 10px;
  margin: 20px;
  align-items: center;
  background-color: rgba(209, 173, 56, 0.3);
  border: 10px solid rgb(209, 173, 56, 0.7);
  border-radius: 10px;
  text-align: center;
}

.carteInCart {
  display: flex;
  padding: 10px;
  margin: 20px;
  justify-content: space-around;
  background-color: rgba(209, 173, 56, 0.3);
  border: 10px solid rgb(209, 173, 56, 0.7);
  border-radius: 10px;
  text-align: center;
}

.image {
  width: auto;
  height: 100px;
}

.addToCartBtn {
  border: none;
  border-radius: 16px;
  padding: 0;
  margin: 0;
  background-color: rgba(74, 202, 245, 0.5);
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.addToCartBtn:hover {
  background-color: rgba(50, 136, 165, 0.719);
}




@media screen and (max-width: 820px) {
  
  .cart-container {
    margin-left: 50px;
  }

}


@media screen and (max-width: 800px) {

  .carte {
    width: 250px;
    height: 350px;
    padding: 10px;
    margin: 20px;
    border: 8px solid rgb(209, 173, 56, 0.7);
    
  }

  .cart-container::-webkit-scrollbar {
    -webkit-box-shadow: inset 0 0 6px #CACAAB;
    border-radius: 10px;
    width: 10px;
    height: 30;
  }
}

@media screen and (max-width: 500px) {

  .carte {
    width: 160px;
    height: 260px;
    padding: 10px;
    margin: 20px;
    border: 5px solid rgb(209, 173, 56, 0.7);
    
  }

  .cart-container::-webkit-scrollbar {
    -webkit-box-shadow: inset 0 0 6px #CACAAB;
    border-radius: 10px;
    width: 7px;
    height: 30;
  }
}