* {
  font-family: var(--global-font);
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: none;
  background-color: rgba(7, 7, 7, 0.377);
  display: flex;
  justify-content: right;
  align-items: center;
  z-index: 2;
}

.modal-content {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
  background: rgb(255, 251, 231);
  background: linear-gradient(
    0deg,
    rgba(255, 251, 231, 1) 32%,
    rgba(231, 220, 175, 1) 75%
  );
  align-items: center;
}

.total-title {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 15px;
  margin-right: 0px;
  padding-top: 5px;
  padding-bottom: 30px;
  vertical-align: middle;
  text-align: center;
  border-bottom: solid #f5a96e;
}

.delete-button {
  background-color: var(--button-background-filter);
  border-radius: 15px;
  border: none;
  font-size: 1rem;
  box-shadow: 1px 1px 8px #000000b8;
  width: 150px;
  cursor: pointer;
}

.validate-button {
  background-color: var(--button-background-filter);
  border-radius: 15px;
  border: none;
  font-size: 1rem;
  box-shadow: 1px 1px 8px #000000b8;
  width: 150px;
  cursor: pointer;
}

.container-delete-refuse {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-around;
}

.itemInCart {
  margin-bottom: 10px;
  padding-bottom: 5px;
  align-items: center;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(1, 1fr);
  border-bottom: thick double #f5a96ea2;
}

.cartImage {
  grid-area: 1 / 1 / 4 / 2;
}

.cartName {
  grid-area: 1 / 2 / 2 / 3;
  margin-top: 0;
  margin-bottom: 0;
  justify-self: center;
}

.cartPrice {
  grid-area: 2 / 2 / 3 / 3;
  justify-self: center;
}

#prixUnitaire {
  text-decoration: underline overline #ff3028;
}

#prixTotal {
  text-decoration: underline overline #ff3028;
}

.cartQuantityAndButton {
  grid-area: 3 / 2 / 4 / 3;
  justify-self: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.addQuantityBtn {
  background-color: var(--button-background-article);
  border-radius: 15px;
  border: none;
  font-size: 1rem;
  box-shadow: 1px 1px 8px #000000b8;
  width: 150px;
}

.addQuantityBtn:hover {
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .modal-content {
    width: 80%;
  }
}
