.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: none;
  background-color: rgba(7, 7, 7, 0.377);
  display: flex;
  justify-content: right;
  align-items: center;
  z-index: 2;
}

.modal-content {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;

  background-image: url("../assets/Recipe_Info_Background.svg");

  align-items: center;
}

.cartCloseBtn {
  position: absolute;
  margin-top: 5px;
  margin-left: 20%;
}

.containerCart {
  width: 100%;
  border: solid black 1px;
}

.itemInCart {
  align-items: center;
  border: solid red 1px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, 1fr);
}

.cartImage {
  grid-area: 1 / 1 / 4 / 2;
}

.cartName {
  grid-area: 1 / 2 / 2 / 3;
  margin-top: 0;
  margin-bottom: 0;
  justify-self: center;
}

.cartPrice {
  grid-area: 2 / 2 / 3 / 3;
  justify-self: center;
}

.cartQuantityAndButton {
  grid-area: 3 / 2 / 4 / 3;
  justify-self: center;
}

#quantity {
  max-width: 35px;
}
