* {
  font-family: var(--global-font);
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: none;
  background-color: rgba(7, 7, 7, 0.377);
  display: flex;
  justify-content: right;
  align-items: center;
  z-index: 2;
}

.modal-content {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;

  background-image: url("../assets/Recipe_Info_Background.svg");

  align-items: center;
}

.total-title {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 15px;
  margin-right: 0px;
  padding-top: 5px;
}

.delete-refuse {
  /* display: none; */
  background-color: rgb(206, 65, 65);
  margin-bottom: 10px;
}

.delete-button {
  margin-left: 20px;
  background-color: var(--button-background-filter);
  border-radius: 15px;
  border: none;
  font-size: 1rem;
  box-shadow: 1px 1px 8px #000000b8;
  width: 150px;
}

.delete-button:hover + .delete-refuse {
  display: block;
}

.containerCart {
  width: 100%;
}

.itemInCart {
  align-items: center;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, 1fr);
}

.cartImage {
  grid-area: 1 / 1 / 4 / 2;
}

.cartName {
  grid-area: 1 / 2 / 2 / 3;
  margin-top: 0;
  margin-bottom: 0;
  justify-self: center;
}

.cartPrice {
  grid-area: 2 / 2 / 3 / 3;
  justify-self: center;
}

.cartQuantityAndButton {
  grid-area: 3 / 2 / 4 / 3;
  justify-self: center;
}

@media screen and (max-width: 1100px) {
  .modal-content {
    width: 100%;
  }
}

@media screen and (max-width: 1100px) {
  .modal-content {
    width: 100%;
  }
}
