

select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  appearance: none;
}

.filterContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f6eee1;
  margin-top: 190px;
}


.btn {
  cursor: pointer;
  padding: 10px;
  margin-left: 10px;
  border: var(--button-border);
  background-color: var(--button-background-filter);
  font-size: var(--button-font-size);
  text-align: var(--button-text-align);
  color: var(--button-color);
  letter-spacing: var(--button-letter-spacing);
  font-family: var(--button-font-family);
  font-weight: var(--button-font-weight);
  border-radius: var(--button-border-radius);
  

}


.SelectFilter {
  display: none;

}
