* {
  margin: 0;
  padding: 0;
}

.footer {
  height: auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.responsiveBgFooter {
  display: none;
}

@media screen and (max-width: 700px) {
  .footer {
    display: none;
  }

  @media screen and (max-width: 700px) {
    .responsiveBgFooter {
      display: block;
      width: 100%;
    }
  }
}
