* {
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  top: 0;
  margin-top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 150px;
  width: 100%;
  flex-direction: row;
  justify-content: right;
}

.illustrationNavbar {
  position: fixed;
  top: 0;
  margin-top: 0;
  max-width: 100%;
}
.illustrationNavbarMobile {
  display: none;
}

.cartBtn {
  all: unset;
  position: absolute;
  margin-top: 1%;
  margin-right: -2%;
  cursor: pointer;
}

.cartIcon {
  width: 50%;
  right: -30;
  cursor: pointer;
}

.notifBtn {
  background-color: red;
  border: none;
  border-radius: 50%;
}

@media screen and (max-width: 700px) {
  .illustrationNavbar {
    max-width: none;
    width: 250%;
    margin-top: -10%;
  }
}

@media screen and (max-width: 500px) {
  .illustrationNavbar {
    max-width: none;
  }
}

@media screen and (max-width: 1000px) {
  .cartBtn {
    all: unset;
    position: absolute;
    margin-top: 1%;
    margin-right: -6%;
  }

  .cartIcon {
    right: -70;
    width: 40%;
  }
}

@media screen and (max-width: 750px) {
  .cartBtn {
    all: unset;
    position: absolute;
    margin-top: 1%;
    margin-right: -10%;
  }

  .cartIcon {
    right: -30;
    width: 30%;
  }
}

@media screen and (max-width: 425px) {
  .cartBtn {
    all: unset;
    position: absolute;
    margin-top: 1%;
    margin-right: -20%;
  }

  .cartIcon {
    width: 25%;
  }
}
