.header {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 150px;
  width: 100%;
  flex-direction: row;
  justify-content: right;
  background-image: url("../assets/Navbarimg7777.svg");

  background-size: contain;
  background-repeat: no-repeat;
  background-color: #f6eee1;
}

.cartBtn {
  all: unset;
  margin-right: 30px;
  height: fit-content;
}

.cartIcon {
  height: 80px;
  width: auto;
  margin-top: 30px;
  margin-right: 5px;
}

.notifBtn {
  background-color: red;
  border: none;
  border-radius: 50%;
}
